@{
    var U = Dnd_App.Utils.Session.CurrentSession();
}



<div id="subheader" class="section grey darken-4 white-text">
    <div class="row">
        <div class="col s6">
            <h4 class="light"><i class="fas fa-shield-alt" style="color:white"> </i> My NPCs</h4>
        </div>
        <div class="col s6">
            <p>
                @Html.ActionLink("Create new", "New", "NPC", null, new { @class = "btn waves-effect waves-light right blue" })
            </p>
        </div>
    </div>
</div>


<div class="row">
    @if (U.LoadNPCs())
    {
        foreach (var item in U.Npcs)
        {
            <div class="col s12 m4">
                <!-- Basic Card -->
                <div class="card orange-to-orangeblack z-depth-2">
                    <div id="charcard-content" class="card-content white-text">
                        <span class="card-title">@item.Name</span>
                        <hr />
                        <p>Armor Class: @item.ArmorClass.Total </p>
                        <p>Hit Points: @item.HitPoint.HitPointsAVG </p>
                        <hr />
                        <div class="row">
                            @foreach (var ascore in item.AbilitiesScores)
                            {
                                <div class="col s6">
                                    @if (@ascore.ModValue >= 0)
                                    {
                                        <p>@ascore.ShortName : @ascore.Value (+@ascore.ModValue)</p>
                                    }
                                    else
                                    {
                                        <p>@ascore.ShortName : @ascore.Value (@ascore.ModValue)</p>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                    <div id="charcard-action" class="card-action center">
                        <a class="white-text" href="@Url.Action("Edit","Npc", new { id = item.Id })">Edit</a>
                        <a class="white-text" href="javascript:LoadNPCModalView(@item.Id);">View</a>
                        <a class="white-text" href="javascript:DeleteNPC(@item.Id);">Delete</a>
                    </div>
                </div>
            </div>
        }
    }

    
</div>






