@model Dnd_App.Models.Characters.NPC

@{
    ViewBag.Title = "New NPC";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var U = Dnd_App.Utils.Session.CurrentSession();
    ViewBag.Character = "NPC";
    ViewBag.TempID = Model.TempID;
}

<main>
    @Html.Partial("_Nav2")
    <div class="row row-new-character">

        <div class="col s6 col-new-character">
            <div id="_npcCreate">

            </div>

        </div>
        <div class="col s6 col-new-character">
           <div class="npcview z-depth-3" id="_npcInfo"></div>
        </div>
    </div>
</main>


@section scripts{


      <script>

          function Back() {


                $.confirm({
                    title: 'Are you sure you want to leave?',
                    type: 'black',
                    buttons: {
                        ok: {
                            text: "ok!",
                            btnClass: 'btn',
                            keys: ['enter'],
                            action: function () {
                                window.location.href = '@Url.Action("Panel", "User")';
                                LoadNPCs();
                            }
                        },
                        cancel: function () {
                            console.log('the user clicked cancel');
                        }
                    }
                });
          }



    </script>

    <script>
        function Save() {

             $.confirm({
                 title: 'Are you sure want to save the changes?',
                type: 'black',
                buttons: {
                    ok: {
                        text: "ok!",
                        btnClass: 'btn',
                        keys: ['enter'],
                        action: function () {
                            $.ajax({
                                type: "POST",
                                cache: false,
                                dataType: "html",
                                data: JSON.stringify({ 'TempID': @Model.TempID }),
                                url: "@Url.Action("Save","NPC")",
                                contentType: "application/json; charset=utf-8",
                                success: function (data) {
                                    Materialize.toast('Success!');
                                    window.location.href = '@Url.Action("Panel", "User")';
                                },
                                failure: function (errMsg) {

                                }
                            });
                        }
                    },
                    cancel: function () {
                        console.log('the user clicked cancel');
                    }
                }
            });



         }
    </script>
            


    <script>
        function UpdateToast(data) {
            console.log(data);
            var json = JSON.parse(data);
            if (json["lastValue"] == "") {
                json["lastValue"] = "void";
            }
            Materialize.toast('<i class="fa fa-check-circle fa-fw"></i> ' + json["nameValue"] + ': "' + json["lastValue"] + '" was changed to "' + json["newValue"] + '"', 3000);
        }
    </script>
     <!--Alert dd-->

    <script>
        function Alertoast(alert) {
            Materialize.toast('<i class="fa fa-exclamation-circle fa-fw"></i> ' + alert + '', 3000);
        }
    </script>

    <script>
        $(document).ready(
            function loadNPCView() {
                reloadNpcView();
            }
        );
    </script>

    <script>
        function reloadNpcView() {

            $.ajax({
                type: "GET",
                cache: false,
                url: "@Url.Action("_View","NPC")",
                data: { 'TempID': @Model.TempID },
                contentType: "application/json; charset=utf-8",
                    success: function (data)
                    {

                        var _npcSpeeds = $("#_npcInfo");
                        _npcSpeeds.html(data);
                    },
                    failure: function (errMsg) {
                        console.log("error ?")
                        alert(errMsg);
                    }
                });

            }
    </script>

    <script>
        $(document).ready(
            function loadCreate() {

                $.ajax({

                    type: "GET",
                    cache: false,
                    url: "@Url.Action("_Create","NPC")",
                        dataType: "html",
                        data: { 'TempID': @Model.TempID },
                        contentType: "application/json; charset=utf-8",
                        success: function (data)
                        {
                            var _npcSenses = $("#_npcCreate");
                            _npcSenses.html(data);
                        },
                        failure: function (errMsg) {
                            console.log("error ?");
                            alert(errMsg);
                        }
                    });
            }
        );
    </script>


   

}