
@{
    ViewBag.Title = "Panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var U = Dnd_App.Utils.Session.CurrentSession();
}

@section styles{
    <link href="~/Content/Panel.css" rel="stylesheet" />
}

@Html.Partial("_sidenav")

<div id="_CurrentView"></div>


@section scripts{
    <script>
        $(document).ready(
            function loadDashboard() {
                var view = '@TempData["CurrentAction"]';
                var controller = '@TempData["CurrentController"]';
                LoadView(view, controller);
            }
        );
    </script>

    <script>
        function LoadView(view, controller) {



            var urlAction = '@Url.Action("__view","__controller")';
            urlAction = urlAction.replace("__view", view);
            urlAction = urlAction.replace("__controller", controller);

            $.ajax({
                type: "GET",
                cache: false,
                url: urlAction,
                dataType: "html",
                @* data: JSON.stringify({ 'id': @ViewBag.id }),*@
                contentType: "application/json; charset=utf-8",
                success: function (data)
                {
                    var _CurrentView = $("#_CurrentView");
                    _CurrentView.html(data);
                },
                failure: function (errMsg) {
                    console.log("error ?")
                    alert(errMsg);
                }
            });
        }
    </script>
}


