@{
    ViewBag.Title = "Panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var U = Dnd_App.Utils.Session.CurrentSession();
}

@section styles{
    <link href="~/Content/Panel.css" rel="stylesheet" />
}



@Html.Partial("_sidenav")




<main>
    <div class="preloader-background">
        <h2>Loading...</h2>
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-yellow">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>

            <div class="spinner-layer spinner-green">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="_CurrentView">
    </div>
</main>




@section scripts{
    
    

    <script>
        function preloaderin() {
            $('.preloader-background').fadeIn('fast');
            $('.preloader-wrapper').fadeIn('fast');
        }
    </script>

<script>
        function preloaderout() {
            $('.preloader-background').fadeOut('fast');
            $('.preloader-wrapper').fadeOut();
        }
</script>


    <script>
        $(document).ready(
            function init() {
                LoadDashboard();
            }
        );
    </script>

    <script>
        function LoadDashboard() {
            preloaderin();
            $.ajax({
                type: "GET",
                cache: false,
                url: "@Url.Action("_Dashboard", "User")",
                dataType: "html",
                contentType: "application/json; charset=utf-8",
                success: function (data)
                {
                    var _CurrentView = $("#_CurrentView");
                    _CurrentView.html(data);
                    preloaderout();
                },
                failure: function (errMsg) {
                    alert(errMsg);
                }
            });
        }
    </script>

    <script>
        function LoadNPCs() {
            preloaderin();
            $.ajax({
                type: "GET",
                cache: false,
                url: "@Url.Action("_AllNPC", "NPC")",
                dataType: "html",
                contentType: "application/json; charset=utf-8",
                success: function (data)
                {
                    var _CurrentView = $("#_CurrentView");
                    _CurrentView.html(data);
                    preloaderout();
                },
                failure: function (errMsg) {
                    alert(errMsg);
                }
            });
        }
    </script>

    <script>
            function LoadPCs() {
                preloaderin();
                $.ajax({
                    type: "GET",
                    cache: false,
                    url: "@Url.Action("_AllPC", "PC")",
                    dataType: "html",
                    contentType: "application/json; charset=utf-8",
                    success: function (data)
                    {
                        var _CurrentView = $("#_CurrentView");
                        _CurrentView.html(data);
                        preloaderout();
                    },
                    failure: function (errMsg) {
                        alert(errMsg);
                    }
                });
            }
    </script>

    <script>
            
            function LoadCombats() {
                preloaderin();
                $.ajax({
                    type: "GET",
                    cache: false,
                    url: "@Url.Action("_AllCombats", "Combat")",
                    dataType: "html",
                    contentType: "application/json; charset=utf-8",
                    success: function (data)
                    {
                        var _CurrentView = $("#_CurrentView");
                        _CurrentView.html(data);
                        preloaderout();
                    },
                    failure: function (errMsg) {
                        alert(errMsg);
                    }
                });
            }
    </script>

    

    <script>
        function DeleteNPC(id) {
            $.confirm({
                title: 'Are you sure?',
               // content: 'NPC: ',
                type: 'black',
                buttons: {
                    ok: {
                        text: "ok!",
                        btnClass: 'btn',
                        keys: ['enter'],
                        action: function () {
                            $.ajax({
                                type: "POST",
                                cache: false,
                                data: JSON.stringify({ 'id': id }),
                                url: '@Url.Action("Delete", "NPC")',
                                dataType: "html",
                                contentType: "application/json; charset=utf-8",
                                success: function ()
                                {
                                    LoadNPCs();
                                    $.alert({
                                        title: 'Success!',
                                        content: 'the NPC was eliminated!',
                                    });
                                },
                                failure: function (errMsg) {
                                    console.log("error ?")
                                    alert(errMsg);
                                }
                            });
                        }
                    },
                    cancel: function () {
                        console.log('the user clicked cancel');
                    }
                }
            });
        }

    </script>

    <script>
        function DeletePC(id) {
            $.confirm({
                title: 'Are you sure?',
               // content: 'NPC: ',
                type: 'black',
                buttons: {
                    ok: {
                        text: "ok!",
                        btnClass: 'btn',
                        keys: ['enter'],
                        action: function () {
                            $.ajax({
                                type: "POST",
                                cache: false,
                                data: JSON.stringify({ 'id': id }),
                                url: '@Url.Action("Delete", "PC")',
                                dataType: "html",
                                contentType: "application/json; charset=utf-8",
                                success: function ()
                                {
                                    LoadNPCs();
                                    $.alert({
                                        title: 'Success!',
                                        content: 'the PC was eliminated!',
                                    });
                                },
                                failure: function (errMsg) {
                                    console.log("error ?")
                                    alert(errMsg);
                                }
                            });
                        }
                    },
                    cancel: function () {
                        console.log('the user clicked cancel');
                    }
                }
            });
        }

</script>
}


