@{
    ViewBag.Title = "Panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var U = Dnd_App.Utils.Session.CurrentSession();
}

@section styles{
    <link href="~/Content/Panel.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="~/Content/tingle.css" media="screen,projection" />
}

@Html.Partial("_sidenav")

<main>
    
    <div id="_CurrentView">
        <div class="row">
            <div class="col s2 l2 offset-l5">
                <br />
                <br />
                <br />
                <br />
                <div class="preloader-wrapper big active center-align">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</main>




@section scripts{
    <script>
        $(document).ready(
            function init() {
                LoadDashboard();
            }
        );
    </script>

    <script>
        function LoadDashboard() {

            $.ajax({
                type: "GET",
                cache: false,
                url: "@Url.Action("_Dashboard", "User")",
                dataType: "html",
                contentType: "application/json; charset=utf-8",
                success: function (data)
                {
                    var _CurrentView = $("#_CurrentView");
                    _CurrentView.html(data);
                },
                failure: function (errMsg) {
                    alert(errMsg);
                }
            });
        }
    </script>

    <script>
        function LoadNPCs() {

            $.ajax({
                type: "GET",
                cache: false,
                url: "@Url.Action("_AllNPC", "NPC")",
                dataType: "html",
                contentType: "application/json; charset=utf-8",
                success: function (data)
                {
                    var _CurrentView = $("#_CurrentView");
                    _CurrentView.html(data);
                },
                failure: function (errMsg) {
                    alert(errMsg);
                }
            });
        }
    </script>

    <script>
            function LoadPCs() {

                $.ajax({
                    type: "GET",
                    cache: false,
                    url: "@Url.Action("_AllPC", "PC")",
                    dataType: "html",
                    contentType: "application/json; charset=utf-8",
                    success: function (data)
                    {
                        var _CurrentView = $("#_CurrentView");
                        _CurrentView.html(data);
                    },
                    failure: function (errMsg) {
                        alert(errMsg);
                    }
                });
            }
    </script>








    <script src="~/Scripts/tingle.js"></script>

    <script>

        var modal = new tingle.modal({
            footer: false,
            stickyFooter: false,
            closeMethods: ['overlay', 'button', 'escape'],
            closeLabel: "Close",
            cssClass: ['custom-class-1', 'custom-class-2'],
            onOpen: function () {
                console.log('modal open');
            },
            onClose: function () {
                console.log('modal closed');
            },
            beforeClose: function () {
                // here's goes some logic
                // e.g. save content before closing the modal
                return true; // close the modal
                return false; // nothing happens
            }
        });
    </script>

    <script>
        function LoadNPCModalView(id) {

            $.ajax({
                type: "GET",
                cache: false,
                data: { 'TempID': id },
                url: '@Url.Action("_View", "NPC")',
                dataType: "html",
                contentType: "application/json; charset=utf-8",
                success: function (data)
                {
                    modal.setContent(''+data);
                    modal.open();
                    //var _CurrentView = $("#_CurrentView");
                    //_CurrentView.html(data);
                },
                failure: function (errMsg) {
                    console.log("error ?")
                    alert(errMsg);
                }
            });
        }
    </script>

}


