@{
    var U = Dnd_App.Utils.Session.CurrentSession();
}

<div id="subheader" class="section black-to-grey white-text">
    <div class="row">
        <div class="col s6">
            <h3 id="logo">My PCs</h3>
        </div>
        <div class="col s6">
            <p>
                @Html.ActionLink("Create new", "New", "PC", null, new { @class = "btn-large waves-effect waves-light right blue", @style = "margin-top: 10px;" })
            </p>
        </div>
    </div>
</div>


<div class="row">

    @if (U.LoadPCs())
    {
        foreach (var item in U.Pcs)
        {
        <div class="col s12 m4">
            <!-- Basic Card -->
            <div class="card green-to-green z-depth-2">
                <div id="charcard-content" class="card-content white-text">
                    <span class="card-title">@item.name</span>
                    <hr />
                    <p>Armor Class: @item.armorClass.Total </p>
                    <p>Hit Points: @item.hitPoint.HitPointsAVG </p>
                    <hr />
                    <div class="row">
                        @foreach (var ascore in item.abilitiesScores)
                        {
                            <div class="col s6">
                                @if (@ascore.ModValue >= 0)
                                {
                                    <p>@ascore.ShortName : @ascore.Value (+@ascore.ModValue)</p>
                                }
                                else
                                {
                                    <p>@ascore.ShortName : @ascore.Value (@ascore.ModValue)</p>
                                }
                            </div>
                        }
                    </div>
                </div>
                <div id="charcard-action" class="card-action center">
                    <a class="white-text" href="@Url.Action("Edit", "PC", new { id = item.id })">Edit</a>
                    <a class="white-text" href="javascript:LoadPCModalView(@item.id);">View</a>
                    <a class="white-text" href="javascript:DeletePC(@item.id);">Delete</a>
                </div>
            </div>
        </div>
        }
    }
</div>