@model Dnd_App.Models.Characters.PC

@{
    ViewBag.Title = "New PC";
    ViewBag.Character = "PC";
    ViewBag.TempID = Model.TempID;

}

<main>
    @Html.Partial("_Nav2")
    <div class="row row-new-character">

        <div class="col s6 col-new-character">


            <ul id="basic_collap" class="collapsible" data-collapsible="accordion" style="margin-bottom: 0px;">
                <!--Basic Info -->
                <li>
                    <div id="basic_head" class="collapsible-header active teal darken-3 white-text " onclick="collapseAll_create();">Basic info</div>
                    <div class="collapsible-body grey lighten-5">
                        <div class="row">
                            <div class="input-field col s6">
                                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @type = "text" } })
                                <label for="name">Name</label>
                            </div>

                            <div class="input-field col s6">
                                @Html.EnumDropDownListFor(m => m.race, new { @class = "form-control", @id = "race" })
                                <label for="race">Race</label>
                            </div>
                            <div class="input-field col s6">
                                @Html.EnumDropDownListFor(m => m._class, new { @class = "form-control", @id = "class" })
                                <label for="class">Class</label>
                            </div>
                            <div class="input-field col s6">
                                @Html.EnumDropDownListFor(m => m.background, new { @class = "form-control", @id = "background" })
                                <label for="background">Background</label>
                            </div>

                            <div class="input-field col s6">
                                <select id="alignmentAttitude">
                                    @foreach (Dnd_App.Models.Enum.TypeAlignAttitude att in Enum.GetValues(typeof(Dnd_App.Models.Enum.TypeAlignAttitude)))
                                    {
                                        if (!att.Equals(Dnd_App.Models.Enum.TypeAlignAttitude.none))
                                        {
                                            <option value="@((int)att)">@att.ToString() </option>
                                        }
                                    }
                                </select>
                                <label for="alignmentAttitude">Alingment attitude</label>

                            </div>
                            <div class="input-field col s6">
                                <select id="alignmentMorality">
                                    @foreach (Dnd_App.Models.Enum.TypeAlignMorality mor in Enum.GetValues(typeof(Dnd_App.Models.Enum.TypeAlignMorality)))
                                    {
                                        if (!mor.Equals(Dnd_App.Models.Enum.TypeAlignMorality.none))
                                        {
                                            <option value="@((int)mor)">@mor.ToString() </option>
                                        }
                                    }
                                </select>
                                <label for="alignmentMorality">Alignment morality</label>
                            </div>
                            <div class="col s12 input-field">
                                <select id="chrating">
                                    @foreach (var level in Model.level.LevelList())
                                    {
                                        <option value="@(level.XP)"> @level.Value level - Experience @level.XP XP - Proficiency +@level.ProficiencyBonus </option>

                                    }
                                </select>
                                <label for="chrating">Level</label>
                            </div>

                        </div>
                    </div>
                </li>
            </ul>

            <div id="_pcCreate"></div>

        </div>

        <div class="col s6 col-new-character">
            <div class="npcview z-depth-3" id="_pcInfo"></div>
        </div>
    </div>

</main>



@section Scripts{

    <!--Save back-->
    <script>

          function Back() {


                $.confirm({
                    title: 'Are you sure you want to leave?',
                    type: 'black',
                    buttons: {
                        ok: {
                            text: "ok!",
                            btnClass: 'btn',
                            keys: ['enter'],
                            action: function () {
                                window.location.href = '@Url.Action("Panel", "User")';
                            }
                        },
                        cancel: function () {
                            console.log('the user clicked cancel');
                        }
                    }
                });
          }



    </script>

    <script>
        function Save() {

             $.confirm({
                 title: 'Are you sure want to save the changes?',
                type: 'black',
                buttons: {
                    ok: {
                        text: "ok!",
                        btnClass: 'btn',
                        keys: ['enter'],
                        action: function () {
                            $.ajax({
                                type: "POST",
                                cache: false,
                                dataType: "html",
                                data: JSON.stringify({ 'TempID': @Model.TempID }),
                                url: "@Url.Action("Save","PC")",
                                contentType: "application/json; charset=utf-8",
                                success: function (data) {
                                    Materialize.toast('Success!');
                                    window.location.href = '@Url.Action("Panel", "User")';
                                },
                                failure: function (errMsg) {

                                }
                            });
                        }
                    },
                    cancel: function () {
                        console.log('the user clicked cancel');
                    }
                }
            });



         }
    </script>

    <script src="~/Scripts/materialize/initform.js"></script>
    <script src="~/Scripts/materialize/loadform.js"></script>

    <!--Alert dd-->
    <script>
        function Alertoast(a, t) {
            alert(a);
            Materialize.toast(t, 3000);

        }
    </script>




    <!--loadcreate on load-->
    <script>
            $(document).ready(
                function loadCreate() {
                    reloadCreate();
                }
            );
    </script>

    <!--alignmentAttitude on load-->
    <script>
            $(document).ready(
                function loadalignmentAttitude() {
                    var al = @Convert.ToInt32(Model.alignmentAttitude);


                    $("select#alignmentAttitude > option[value=" + al + "]").prop("selected", true);
                    $('#alignmentAttitude').material_select('destroy');
                    $('#alignmentAttitude').material_select();
               }
           );
    </script>

    <!--alignmentmor on load-->
    <script>
                $(document).ready(
                    function loadalignmentMorality() {
                        var al = @Convert.ToInt32(Model.alignmentMorality);

                        console.log("we",al);

                        $("select#alignmentMorality > option[value=" + al + "]").prop("selected", true);
                        $('#alignmentMorality').material_select('destroy');
                        $('#alignmentMorality').material_select();
                }
            );
    </script>

    <!--Challenge on load-->
    <script>
            $(document).ready(
                function loadChallenge() {
                    var xp =  @Model.level.XP;

                    $("select#chrating > option[value=" + xp + "]").prop("selected", true);
                    $('#chrating').material_select('destroy');
                    $('#chrating').material_select();
            }
        );
    </script>

    <!--reloadcreate-->
    <script>
            function reloadCreate() {

                    $.ajax({

                        type: "GET",
                        cache: false,
                        url: "@Url.Action("_Create")",
                        dataType: "html",
                        data: { 'TempID': @Model.TempID },
                        contentType: "application/json; charset=utf-8",
                        success: function (data)
                        {
                            var _view = $("#_pcCreate");
                            _view.html(data);

                        },
                        failure: function (errMsg) {
                            console.log("error ?");
                            alert(errMsg);
                        }
                    });
            }

    </script>



    <!--loadpcview on load-->
    <script>
                $(document).ready(
                    function loadPCView() {
                        reloadpcView();
                    }
                );
    </script>


    <!--reloadNpcView-->
    <script>
        function reloadpcView() {

            $.ajax({
                type: "GET",
                url: "@Url.Action("_View")",
                dataType: "html",
                    cache: false,
                    data: { 'TempID': @Model.TempID },
                    contentType: "application/json; charset=utf-8",
                    success: function (data)
                    {
                        var _view = $("#_pcInfo");
                        _view.html(data);
                    },
                    failure: function (errMsg) {
                        console.log("error ?")
                        alert(errMsg);
                    }
                });

            }
    </script>

    <!--BASIC INFO -------------------------------------------------------------------------------------------->
<!--updateName-->
<script>
               $(document).ready(
                    function updateName2() {
                        $("#name").focusout(function (event) {

                            var name = $("#name").val();

                            if (name == "") {
                                alert('Name can not be empty');
                                Materialize.toast('The name was changed to "Name"', 3000);
                                name = "Name";
                                $("#name").val("Name");
                            }


                            $.ajax({
                               type: "POST",
                               cache: false,
                                url: "@Url.Action("UpdateName")",
                                dataType: "html",
                                contentType: "application/json; charset=utf-8",
                                data: JSON.stringify({ 'newName': name, 'TempID':@Model.TempID }),
                                success: function (data)
                                {
                                    reloadpcView();
                                },
                                failure: function (errMsg) {
                                    console.log("error size")
                                    alert(errMsg);
                                }
                            });

                        });
                    }
                );
</script>

<!--changeRace-->
<script>
               $(document).ready(
                   function changeRace() {
                       $("#race").change(function (event) {
                           var val = $('#race').val();

                           $.ajax({
                               type: "POST",
                               cache: false,
                                url: "@Url.Action("_changeRace")",
                                dataType: "html",
                                contentType: "application/json; charset=utf-8",
                                data: JSON.stringify({ 'race': val, 'TempID':@Model.TempID }),
                                success: function (data)
                                {
                                    reloadCreate();
                                    reloadpcView();

                                },
                                failure: function (errMsg) {
                                    console.log("error size")
                                    alert(errMsg);
                                }
                            });


                       });

                   }
               );
</script>

<!--changeBackground-->
<script>
               $(document).ready(
                   function changeBackground() {
                       $("#background").change(function (event) {
                           var val = $('#background').val();
                           console.log(val);

                           $.ajax({
                               type: "POST",
                               cache: false,
                                url: "@Url.Action("_changeBackgroud")",
                                dataType: "html",
                                contentType: "application/json; charset=utf-8",
                                data: JSON.stringify({ 'background': val, 'TempID':@Model.TempID }),
                                success: function (data)
                                {
                                    reloadCreate();
                                    reloadpcView();

                                },
                                failure: function (errMsg) {
                                    console.log("error size")
                                    alert(errMsg);
                                }
                            });


                       });

                   }
               );
</script>

<!--changeClass-->
<script>
               $(document).ready(
                   function changeClass() {
                       $("#class").change(function (event) {
                           var val = $('#class').val();
                           console.log(val);

                           $.ajax({
                               type: "POST",
                               cache: false,
                                url: "@Url.Action("_changeClass")",
                                dataType: "html",
                                contentType: "application/json; charset=utf-8",
                                data: JSON.stringify({ '_class': val, 'TempID':@Model.TempID }),
                                success: function (data)
                                {
                                    reloadCreate();
                                    reloadpcView();

                                },
                                failure: function (errMsg) {
                                    console.log("error size")
                                    alert(errMsg);
                                }
                            });


                       });

                   }
               );
</script>


<!--updateAlignmentMorality-->
<script>
               $(document).ready(
                   function updateAlignmentMorality() {
                       $("#alignmentMorality").change(function (event) {
                           var val = $('#alignmentMorality').val();
                           console.log(val);

                           $.ajax({
                               type: "POST",
                               cache: false,
                                url: "@Url.Action("_updateAlignmentMorality")",
                                dataType: "html",
                                contentType: "application/json; charset=utf-8",
                                data: JSON.stringify({ 'val': val, 'TempID':@Model.TempID }),
                                success: function (data)
                                {
                                    reloadpcView();
                                },
                                failure: function (errMsg) {
                                    console.log("error size")
                                    alert(errMsg);
                                }
                            });


                       });

                   }
               );
</script>

<!--updateAlignmentAttitude-->
<script>
               $(document).ready(
                   function updateAlignmentMorality() {
                       $("#alignmentAttitude").change(function (event) {
                           var val = $('#alignmentAttitude').val();
                           console.log(val);

                           $.ajax({
                               type: "POST",
                               cache: false,
                                url: "@Url.Action("_updateAlignmentAttitude")",
                                dataType: "html",
                                contentType: "application/json; charset=utf-8",
                                data: JSON.stringify({ 'val': val, 'TempID':@Model.TempID }),
                                success: function (data)
                                {
                                    reloadpcView();
                                },
                                failure: function (errMsg) {
                                    console.log("error size")
                                    alert(errMsg);
                                }
                            });


                       });

                   }
               );
</script>



<!--updateChallenge-->
<script>
               $(document).ready(
                   function updateChallenge() {
                       $("#chrating").change(function (event) {
                           var val = $('#chrating').val();
                           console.log(val);


                           $.ajax({
                               type: "POST",
                               cache: false,
                                url: "@Url.Action("_updateLevel")",
                                dataType: "html",
                                contentType: "application/json; charset=utf-8",
                                data: JSON.stringify({ 'val': val , 'TempID':@Model.TempID}),
                                success: function (data)
                                {
                                    reloadpcView();
                                },
                                failure: function (errMsg) {
                                    console.log("error challenge")
                                    alert(errMsg);
                                }
                            });
                       });
                   }
               );
</script>

}





