@{
    
    var U = Dnd_App.Utils.Session.CurrentSession();
    U.Npcs = new List<Dnd_App.Models.Characters.NPC>();
    U.LoadNPCs();
}


<div class="card-panel">
    <div class="row">
        @foreach (var item in U.Npcs)
        {
            <div class="col m12">
                <!-- Basic Card -->
                <div class="card orange-to-orangeblack z-depth-2">
                    <div id="charcard-content" class="card-content white-text">
                        <div class="row">
                            <div class="col s12">
                                <h5>@item.Name</h5>
                            </div>

                        </div>
                        <hr />
                        <div class="row">
                            <div class="col s4">
                                Armor Class: @item.ArmorClass.Total
                            </div>
                            <div class="col s4">
                                Hit Points: @item.HitPoint.HitPointsAVG
                            </div>
                            <div class="col s4">
                                Initiative: @Model.CalculateInitiativeNPC(item)
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            @foreach (var ascore in item.AbilitiesScores)
                            {
                                <div class="col s4">
                                    @if (@ascore.ModValue >= 0)
                                    {
                                        <p>@ascore.ShortName : @ascore.Value (+@ascore.ModValue)</p>
                                    }
                                    else
                                    {
                                        <p>@ascore.ShortName : @ascore.Value (@ascore.ModValue)</p>
                                    }
                                </div>
                            }
                        </div>
                        <hr />
                        <div class="row center">
                            <div class="col s6">
                                <a href="javascript:LoadNPCModalView(@item.Id);" class="btn-flat white-text">Preview</a>
                            </div>
                            <div class="col s6">
                                <a href="javascript:addNPC(@item.Id);" class="btn-flat white-text">Add</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
</div>

