@model Dnd_App.Models.Combat.Combat

@{
    var U = Dnd_App.Utils.Session.CurrentSession();
}

<div class="card-panel">
    <div class="row">
        <div class="col s12">
            <div class="row">

                @{Model.DM.User.LoadPCs(); }

                @foreach (var item in Model.DM.User.Pcs)
                {
                    <div class="col m12">
                        <!-- Basic Card -->
                        <div class="card green-to-green z-depth-2">
                            <div id="charcard-content" class="card-content white-text">
                                <div class="row">
                                    <div class="col s6">
                                        <h5>@item.name</h5>
                                    </div>
                                    <div class="col s6">
                                        <div class="chip right">DM: @U.UserName</div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col s4">
                                        Armor Class: @item.armorClass.Total
                                    </div>
                                    <div class="col s4">
                                        Hit Points: @item.hitPoint.HitPointsAVG
                                    </div>
                                    <div class="col s4">
                                        Initiative: @Model.CalculateInitiativePC(item)
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    @foreach (var ascore in item.abilitiesScores)
                                    {
                                        <div class="col s4">
                                            @if (@ascore.ModValue >= 0)
                                            {
                                                <p>@ascore.ShortName : @ascore.Value (+@ascore.ModValue)</p>
                                            }
                                            else
                                            {
                                                <p>@ascore.ShortName : @ascore.Value (@ascore.ModValue)</p>
                                            }
                                        </div>
                                    }
                                </div>
                                <hr />
                                <div class="row center">
                                    <div class="col s6">
                                        <a href="javascript:LoadPCModalView(@item.id);" class="btn-flat white-text">Preview</a>
                                    </div>
                                    <div class="col s6">
                                        <a href="javascript:addPC(@item.id, '@U.UserName');" class="btn-flat white-text">Add</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                }

                @foreach (var participant in Model.Participants)
                {
                    participant.User.LoadPCs();
                    foreach (var item in participant.User.Pcs)
                    {
                        <div class="col m12">
                            <!-- Basic Card -->
                            <div class="card green-to-green z-depth-2">
                                <div id="charcard-content" class="card-content white-text">
                                    <div class="row">
                                        <div class="col s6">
                                            <h5>@item.name</h5>
                                        </div>
                                        <div class="col s6">
                                            <div class="chip right">Player: @participant.User.UserName</div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col s4">
                                            Armor Class: @item.armorClass.Total
                                        </div>
                                        <div class="col s4">
                                            Hit Points: @item.hitPoint.HitPointsAVG
                                        </div>
                                        <div class="col s4">
                                            Initiative: @Model.CalculateInitiativePC(item)
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        @foreach (var ascore in item.abilitiesScores)
                                        {
                                        <div class="col s4">
                                            @if (@ascore.ModValue >= 0)
                                                {
                                                <p>@ascore.ShortName : @ascore.Value (+@ascore.ModValue)</p>
                                                }
                                                else
                                                {
                                                <p>@ascore.ShortName : @ascore.Value (@ascore.ModValue)</p>
                                                }
                                        </div>
                                        }
                                    </div>
                                    <hr />
                                    <div class="row center">
                                        <div class="col s6">
                                            <a href="" class="btn-flat white-text">Preview</a>
                                        </div>
                                        <div class="col s6">
                                            <a href="" class="btn-flat white-text">Add</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                }


            </div>
        </div>
    </div>
</div>
