@model Dnd_App.Models.Combat.Combat

<ul class="collection">
    @{int i = 0;}
    @foreach (var character in Model.Characters)
    {
        if (character.Type == Dnd_App.Models.Enum.TypeCharacter.NPC)
        {
            var npc = Model.NPCs[character.iList];

            if (character.Active)
            {
                <li class="collection-item orange-to-orangeblack white-text">
                    <div class="row">
                        <div class="col s9">
                            <h5 class="title">@npc.NPC.Name (NPC)</h5>
                            <p>HP: @character.HP</p>
                        </div>
                        <div class="col s3">
                            <a href="javascript:applyActionTo(@i, 0);" class="secondary-content btn-flat blue white-text">Apply</a>
                        </div>
                        @if (character.Effects.Count > 0)
                        {
                            <div class="col s12">
                                Effects:
                                <br />
                                @for (int j = 0; j < character.Effects.Count; j++)
                                {
                                    <div class="chip" id="1" data-val="@i">
                                        @character.Effects[j].Name - @character.Effects[j].Turn
                                        <i class="close material-icons" onclick="removeEffect(@i, @j)">close</i>
                                    </div>
                                }
                            </div>
                        }
                        
                    </div>
                </li>
            }
            else
            {
                <li class="collection-item grey white-text">
                    <div class="row">
                        <div class="col s9">
                            <h5 class="title">@npc.NPC.Name (NPC)</h5>
                            <p>HP: @character.HP</p>
                        </div>
                        <div class="col s3">
                            <button disabled class="secondary-content btn-flat blue white-text">Dead</button>
                        </div>
                        <div class="col s12"></div>
                    </div>
                </li>
            }


        }
        else
        {
            var pc = Model.PCs[character.iList];
            if (character.Active)
            {
                <li class="collection-item green-to-green white-text">
                    <div class="row">
                        <div class="col s9">
                            <h5 class="title">@pc.PC.name (@pc.User.UserName)</h5>
                            <p>HP: @character.HP</p>
                        </div>
                        <div class="col s3">
                            <a href="javascript:applyActionTo(@i, 1);" class="secondary-content btn-flat blue white-text">Apply</a>
                        </div>
                        @if (character.Effects.Count > 0)
                        {
                            <div class="col s12">
                                Effects
                                <br />
                                @for (int j = 0; j < character.Effects.Count; j++)
                                {
                                    <div class="chip" id="eff@((int)i)" data-val="@j">
                                        @character.Effects[j].Name - @character.Effects[j].Turn
                                        <i class="close material-icons"  onclick="removeEffect(@i, @j)">close</i>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </li>
            }
            else
            {
                <li class="collection-item grey white-text">
                    <div class="row">
                        <div class="col s9">
                            <h5 class="title">@pc.PC.name (@pc.User.UserName)</h5>
                            <p>HP: @character.HP</p>
                        </div>
                        <div class="col s3">
                            <button disabled class="secondary-content btn-flat blue white-text">Dead</button>
                        </div>
                        <div class="col s12"></div>
                    </div>
                </li>
            }

        }
        i++;
    }
</ul>

<script>
    function removeEffect(character, indexeffect) {
        console.log("Remove effect: " + character + " - " + indexeffect);

        $.ajax({
            type: "POST",
            cache: false,
            url: "@Url.Action("RemoveEffect", "Combat")",
            dataType: "html",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ 'Val': indexeffect, 'ICharacter': character, 'TempID': @Model.TempID }),
            success: function (data) {
                ReloadCharacters();
                var json = JSON.parse(data);
                Materialize.toast('<i class="fa fa-check-circle fa-fw"></i> ' + json["msg"], 3000);
            },
            failure: function (errMsg) {
                console.log("error size");
                alert(errMsg);
            }
        });
    }

</script>