@model Dnd_App.Models.Combat.Combat

<div class="card-panel red-to-red white-text">
    <div class="row">
        <div class="col s12">
            <h3>@Model.Name</h3>
        </div>
        <div class="col s12">
            <div class="chip">Dungeon Master: @Model.DM.User.UserName</div>
            @for (int i = 0; i < Model.Participants.Count; i++)
            {
                <div class="chip">Player: @Model.Participants[i].User.UserName</div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            @if (Model.PCs.Count == 0 && Model.NPCs.Count==0)
            {
                <h5 class="center">No characters added yet</h5>
            }
            <ul class="collection">
                @foreach (var pc in Model.PCs)
                {
                    <li class="collection-item avatar green-to-green">
                        <i class="material-icons circle orange">account_circle</i>
                        <span class="title">@pc.PC.name (@pc.User.UserName)</span>
                        <p>
                            Initiative: @pc.Initiative
                        </p>
                        <a href="javascript:removePC(@pc.TempID);" class="secondary-content btn-flat red white-text">Remove</a>
                    </li>

                }
                @foreach (var npc in Model.NPCs)
                {
                    <li class="collection-item avatar orange-to-orangeblack">
                        <i class="material-icons circle orange">security</i>
                        <span class="title">@npc.NPC.Name (NPC)</span>
                        <p>
                            Initiative: @npc.Initiative
                        </p>
                        <a href="javascript:removeNPC(@npc.TempID);" class="secondary-content btn-flat red white-text">Remove</a>
                    </li>

                }
            </ul>
        </div>
    </div>
</div>

