@model Dnd_App.Models.Combat.Combat

<div class="card-panel red-to-red white-text">
    <div class="row">
        <div class="col s12">
            <h3>@Model.Name</h3>
        </div>
        <div class="col s12">
            <div class="chip">Dungeon Master: @Model.DM.User.UserName</div>
            @for (int i = 0; i < Model.Participants.Count; i++)
            {
                <div class="chip">Player: @Model.Participants[i].User.UserName</div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            @if (Model.PCs.Count == 0 && Model.NPCs.Count==0)
            {
                <h5 class="center">No characters added yet</h5>
            }
            <ul class="collection">
                @foreach (var pc in Model.PCs)
                {
                    <li class="collection-item green-to-green">
                        <div class="row">
                            <div class="col s9">
                                <h5 class="title">@pc.PC.name (@pc.User.UserName)</h5>
                                <p>
                                    Initiative: @pc.Initiative
                                </p>
                            </div>
                            <div class="col s3">
                                <a href="javascript:removePC(@pc.TempID);" class="secondary-content btn-flat red white-text">Remove</a>
                            </div>
                        </div>
                        <hr />
                        <div class="row center white-text">
                            <div class="col s3"></div>
                            <div class="input-field col s3 center">
                                <input id="inipc@(pc.TempID)" type="text" value="@pc.Initiative">
                                <label class="active white-text" for="ini(@pc.TempID)">Initiative</label>
                            </div>
                            <div class="input-field col s3">
                                <a href="javascript:changeinitiative(@pc.TempID, 1);" class="btn-flat yellow darken-3 white-text">Change</a>
                            </div>
                        </div>
                    </li>

                }
                @foreach (var npc in Model.NPCs)
                {
                    <li class="collection-item orange-to-orangeblack">
                        <div class="row">
                            <div class="col s9">
                                <h5 class="title">@npc.NPC.Name (NPC)</h5>
                                <p>
                                    Initiative: @npc.Initiative
                                </p>
                            </div>
                            <div class="col s3">
                                <a href="javascript:removeNPC(@npc.TempID);" class="secondary-content btn-flat red white-text">Remove</a>
                            </div>
                        </div>
                        <hr />
                        <div class="row center white-text">
                            <div class="col s3"></div>
                            <div class="input-field col s3 center">
                                <input id="ininpc@(npc.TempID)" type="text" value="@npc.Initiative">
                                <label class="active white-text" for="ini(@npc.TempID)">Initiative</label>
                            </div>
                            <div class="input-field col s3">
                                <a href="javascript:changeinitiative(@npc.TempID, 0);" class="btn-flat teal white-text">Change</a>
                            </div>
                        </div>
                    </li>

                }
            </ul>
        </div>
    </div>
</div>

<script>
    function changeinitiative(tempidchar, type) {
        if (type == 0) {
            var val = $("#ininpc" + tempidchar).val();
        }
        else {
            var val = $("#inipc" + tempidchar).val();
        }

        console.log("change " + tempidchar + " type " + type + " : " + val);
        $.ajax({
            type: "POST",
            cache: false,
            url: "@Url.Action("ChangeInitiative")",
            dataType: "html",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ 'TempIDChar': tempidchar, 'Type': type, 'Val': val ,'TempID': @Model.TempID }),
            success: function (data)
            {
                console.log(data);
                var json = JSON.parse(data);
                Materialize.toast(json["msg"],3000);
                reloadCombatView();
            },
            failure: function (errMsg) {
                console.log("error ?")
                alert(errMsg);
            }
        });
    }
</script>