@model Dnd_App.Models.Combat.Combat

@{
    ViewBag.Title = "JoinUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var character = Model.Characters.Where(pc => pc.iList == @ViewBag.index && pc.Type == Dnd_App.Models.Enum.TypeCharacter.PC).First();
}


<main>
    <nav class="z-depth-0 grey darken-4">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo bar-logo left" id="logo">DnDApp</a>
        </div>
    </nav>

    <div class="row row-new-character">
        <div class="col s6 col-new-character">
            <div class="npcview z-depth-3" id="_UserStatistics"></div>
        </div>
        <div class="col s6 col-new-character">
            <div class="npcview z-depth-3" id="_CurrentStatBlock">
            </div>
        </div>
    </div>


</main>


@section scripts{
    <script>
    $(document).ready(
        function loadCombatView() {
            PCStatBlock(@ViewBag.index);
            UserStatistic(@ViewBag.index);
            
        }
    );
    </script>

    <script>
        function PCStatBlock(i) {

            $.ajax({
                type: "GET",
                cache: false,
                url: "@Url.Action("_ViewFromCombat", "PC")",
                data: { 'TempIDCombat': @Model.TempID, 'IPC': i },
                contentType: "application/json; charset=utf-8",
                    success: function (data)
                    {

                        var _npcSpeeds = $("#_CurrentStatBlock");
                        _npcSpeeds.html(data);
                    },
                    failure: function (errMsg) {
                        console.log("error ?")
                        alert(errMsg);
                    }
                });

            }
    </script>

    <script>
        function UserStatistic(i) {

            $.ajax({
                type: "GET",
                cache: false,
                url: "@Url.Action("UserStatistic", "Combat")",
                data: { 'TempIDCombat': @Model.TempID, 'IPC': i },
                contentType: "application/json; charset=utf-8",
                    success: function (data)
                    {

                        var _npcSpeeds = $("#_UserStatistics");
                        _npcSpeeds.html(data);
                    },
                    failure: function (errMsg) {
                        console.log("error ?")
                        alert(errMsg);
                    }
                });

            }
    </script>

   




}